@use "base";

.sidebar {
  background-color: base.$color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;

  height: 2px;
  width: 4rem;
  background-color: #fff;
  margin-top: 3.5rem;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 4rem;
    background-color: #fff;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.2rem);
  }
}
